<section id="about">
  <h3 class="page-title white-text blue">ABOUT</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m12 l12">
        <blockquote>Goal-oriented Full Stack Delevoper with passion to create user friendly websites and web application that makes a difference and thoughtfully designed.</blockquote>
        <p>I always search for opportunities where it can challenge me as a developer and give new learning experience to me. Although I have a few years of full-time experience as a Full Stack Developer, I always make sure that my skills are up-to-date and
          I've never stopped looking for people who needs to solutions for their problems.</p>
        <p>I really enjoy working on projects and give a lot of attentions to different details and always makes sure to make careful decision and design from the heart. My mission is to give the most exciting and easiest way for user to intereact while not
          sacrificing the quality and functionality of the program.</p>
      </div>
    </div>
</section>
