<section id="contact">
  <h3 class="page-title white-text blue">CONTACT</h3>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="col s12 m6">
          <div class="contact-info">
            <i class="fa fa-skype fa-fw fa-4x pull-left blue-text"></i>
            <span class="blue-text"><a href="">shervs336</a></span>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="contact-info">
            <i class="fa fa-linkedin fa-fw fa-4x pull-left blue-text text-darken-3"></i>
            <span class="blue-text text-darken-3"><a href="https://www.linkedin.com/in/sherwin-condez-79535411b">linkedin.com/in/sherwin-condez-79535411b</a></span>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="contact-info">
            <i class="fa fa-envelope fa-fw fa-4x pull-left red-text"></i>
            <span class="red-text"><a href="mailto:sherwin.rhey.condez@gmail.com">sherwin.rhey.condez@gmail.com</a></span>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="contact-info">
            <i class="fa fa-github fa-fw fa-4x pull-left"></i>
            <span class=""><a href="https://www.github.com/shervs336">github.com/shervs336</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
