<section id="education">
  <h3 class="page-title white-text blue">EDUCATION</h3>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Bachelor of Science in Information Technology
            <div class="card-subtitle grey-text">Lyceum of Subic Bay</div>
          </div>
          <hr />
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">June 2006 - March 2010 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Associate in Computer Technology
            <div class="card-subtitle grey-text">Lyceum of Subic Bay</div>
          </div>
          <hr />
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">June 2006 - March 2008 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
</section>
