<section id="experience">
  <h3 class="page-title white-text blue">EXPERIENCE</h3>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Subic Bay Metropolitan Authority <span class="right black-text position-text">Information Systems Analyst III</span></div>
          <hr />
          <p class="job-desc grey-text">Develop highly sophisticated programs for agency use.</p>
          <h6 class="core-task-title grey-text lighten-3">Develop Systems Solutions</h6>
          <ul class="core-task">
            <li>Research, plan, develop and testing systems</li>
            <li>Assistance on web server setup (Linux Based)</li>
            <li>Develop using latest web technologies and maximizing tools to speed up delivery.</li>
            <li>Use versioning tools to keep track of code progress</li>
          </ul>
          <h6 class="core-task-title grey-text">Accomplishments</h6>
          <ul class="core-task">
            <li>Modifications of Queueing System</li>
            <li>Recovery of old web files.</li>
          </ul>
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">March 2017 - Present | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Nicera Philippines Inc. <span class="right black-text position-text">MIS Engineer I</span></div>
          <hr />
          <p class="job-desc grey-text">Develop custom systems and small programs for company use.</p>
          <h6 class="core-task-title grey-text lighten-3">Develop Systems Solutions</h6>
          <ul class="core-task">
            <li>Research, plan, develop and testing systems</li>
            <li>Develop programs using Coldfusion's CFML tags for backend processing</li>
            <li>Use latest web designing techniques for UI of programs</li>
            <li>Maximized Local Storage for developing network error prone systems using NodeJS based packages(Atom's Electron)</li>
          </ul>
          <h6 class="core-task-title grey-text">Accomplishments</h6>
          <ul class="core-task">
            <li>Human Resource Information System</li>
            <li>Fixed Asset Management System & Fixed Asset Management System - Offline Inventory Platform</li>
            <li>Downtime Monitoring Client and Downtime Monitoring Dashboard</li>
            <li>Modifcations of Electronic Pass, Raw Materials Issuance System, Finished Goods Inventory Transfer, Product Specifications, Job Order System</li>
            <li>Many small projects sample(survey, attendace, etc...)</li>
          </ul>
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">April 2015 - March 2017 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">IDESS Interactive Technologies <span class="right black-text position-text">Hardware and Software Maintenance / Network Administrator</span></div>
          <hr />
          <p class="job-desc grey-text">Ensures IT related equipment are operational for day-to-day task.</p>
          <h6 class="core-task-title grey-text lighten-3">Install, Repair, Maintenance</h6>
          <ul class="core-task">
            <li>Perform routinary checking of all IT equipment</li>
            <li>Monitor network traffic</li>
            <li>Prepare documents related to IT task for KPI measuring</li>
          </ul>
          <h6 class="core-task-title grey-text">Accomplishments</h6>
          <ul class="core-task">
            <li>Fiber Optic configuration</li>
            <li>Improve backup process & servers</li>
          </ul>
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">February 2014 - April 2015 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">IDESS Interactive Technologies <span class="right black-text position-text">Software Tester</span></div>
          <hr />
          <p class="job-desc grey-text">Perform alpha, beta and stress testing for developed software</p>
          <h6 class="core-task-title grey-text lighten-3">QA Testing</h6>
          <ul class="core-task">
            <li>Performs routinary testing of different web applications</li>
            <li>Data encoding and manual creation</li>
          </ul>
          <h6 class="core-task-title grey-text">Accomplishments</h6>
          <ul class="core-task">
            <li>Tested numerous web application</li>
            <li>Found a 1 year old bug that was not resolved before.</li>
          </ul>
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">March 2013 - February 2014 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">LINDBERG AG-A4 Branch <span class="right black-text position-text">IT Support Assistant</span></div>
          <hr />
          <p class="job-desc grey-text">Routinary IT related task for day-to-day operation of company</p>
          <h6 class="core-task-title grey-text lighten-3">QA Testing</h6>
          <ul class="core-task">
            <li>Perform routinary checking of all IT equipment</li>
            <li>Synchronization of computer clocks and DTR clocks</li>
            <li>CCTV installation and maintenance</li>
            <li>Small program creation</li>
          </ul>
          <h6 class="core-task-title grey-text">Accomplishments</h6>
          <ul class="core-task">
            <li>Create a program to capture all call logs and store in database.</li>
            <li>Install and repair numerous cameras and computer setup.</li>
          </ul>
        </div>
        <div class="card-action grey lighten-3">
          <span class="grey-text text-darken-2">March 2013 - February 2014 | Subic Bay Freeport Zone, Zambales</span>
        </div>
      </div>
    </div>
  </div>
</section>
