<section id="intro">
  <img src="assets/img/intro-bg.jpeg" alt="Office table with laptop and coffee" />
  <div class="intro-body">
    <h1 class="page-title left-align grey-text text-lighten-4">
        I'm <span class="blue">Sherwin Rhey Condez</span>
        <br />
        Your <span class="underline">Full Stack Developer</span>
      </h1>
    <h2 class="page-title white-text">
        Creating <span class="underline">solutions</span> and <span class="underline">innovations</span> for the betterment of everyone.
      </h2>
    <div>
</section>
