<section id="skills">
  <h3 class="page-title white-text blue">SKILLS</h3>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Front-end Skills</div>
          <hr />
          <div class="skill-body">
            <div class="row">
              <div class="col s12">
                <img class="skill-icon" src="assets/img/web/html5.png" alt="HTML5" />
                <img class="skill-icon" src="assets/img/web/css3.png" alt="CSS3" />
                <img class="skill-icon" src="assets/img/web/bootstrap.png" alt="Bootstrap" />
                <img class="skill-icon" src="assets/img/web/materialize.png" alt="MaterlizeCSS" />
                <img class="skill-icon" src="assets/img/web/javascript.png" alt="Javascript" />
                <img class="skill-icon" src="assets/img/web/jquery.png" alt="jQuery" />
                <img class="skill-icon" src="assets/img/web/angular.png" alt="AngularJS" />
                <img class="skill-icon" src="assets/img/web/vue.png" alt="VueJS" />
                <img class="skill-icon" src="assets/img/web/electron.png" alt="Electron Builder" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Back-end Skills</div>
          <hr />
          <div class="skill-body">
            <div class="row">
              <div class="col s12">
                <img class="skill-icon" src="assets/img/web/php.png" alt="PHP" />
                <img class="skill-icon" src="assets/img/web/laravel.png" alt="Laravel" />
                <img class="skill-icon" src="assets/img/web/yii.png" alt="Yii" />
                <img class="skill-icon" src="assets/img/web/mysql.png" alt="MySQL" />
                <img class="skill-icon" src="assets/img/web/postgresql.png" alt="PostgreSQL" />
                <img class="skill-icon" src="assets/img/web/nodejs.png" alt="NodeJS" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <div class="card-title blue-text">Other Skills</div>
          <hr />
          <div class="skill-body">
            <div class="row">
              <div class="col s12">
                <img class="skill-icon" src="assets/img/web/wordpress.png" alt="WordPress" />
                <img class="skill-icon" src="assets/img/web/tumblr.png" alt="Tumblr" />
                <img class="skill-icon" src="assets/img/web/github.png" alt="Github" />
                <img class="skill-icon" src="assets/img/web/grunt.png" alt="Grunt" />
                <img class="skill-icon" src="assets/img/web/gulp.png" alt="Gulp" />
                <img class="skill-icon" src="assets/img/web/heroku.png" alt="Heroku" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
