<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="logo">
      <a href="#intro" class="brand-logo blue-text active">
          Sherwin Rhey Condez
          <span class="brown-text light">Full Stack Developer</span>
        </a>
    </div>
  </li>
  <li class="bold"><a href="#about" class="waves-effect waves-dark teal-text"><i class="material-icons">perm_identity</i><span>About</span></a></li>
  <li class="bold"><a href="#experience" class="waves-effect waves-dark teal-text"><i class="material-icons">trending_up</i><span>Experience</span></a></li>
  <li class="bold"><a href="#work" class="waves-effect waves-dark teal-text"><i class="material-icons">web</i><span>Work</span></a></li>
  <li class="bold"><a href="#skils" class="waves-effect waves-dark teal-text"><i class="material-icons">equalizer</i><span>Skills</span></a></li>
  <li class="bold"><a href="#education" class="waves-effect waves-dark teal-text"><i class="material-icons">school</i><span>Education</span></a></li>
  <li class="bold"><a href="#subscribe" class="waves-effect waves-dark teal-text"><i class="material-icons">mail_outline</i><span>Subscribe</span></a></li>
  <li class="bold"><a href="#contact" class="waves-effect waves-dark teal-text"><i class="material-icons">contact_phone</i><span>Contact</span></a></li>
</ul>
