<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="logo">
      <a href="#intro" class="brand-logo blue-text active">
          Sherwin Rhey Condez
      </a>
      <div><span class="brown-text light">Full Stack Developer</span></div>
    </div>
  </li>
  <li class="bold"><a href="index.html#about" class="waves-effect waves-dark teal-text"><i class="material-icons">perm_identity</i><span>About</span></a></li>
  <li class="bold"><a href="index.html#experience" class="waves-effect waves-dark teal-text"><i class="material-icons">trending_up</i><span>Experience</span></a></li>
  <li class="bold"><a href="index.html#work" class="waves-effect waves-dark teal-text"><i class="material-icons">web</i><span>Work</span></a></li>
  <li class="bold"><a href="index.html#skils" class="waves-effect waves-dark teal-text"><i class="material-icons">equalizer</i><span>Skills</span></a></li>
  <li class="bold"><a href="index.html#education" class="waves-effect waves-dark teal-text"><i class="material-icons">school</i><span>Education</span></a></li>
  <li class="bold"><a href="index.html#subscribe" class="waves-effect waves-dark teal-text"><i class="material-icons">mail_outline</i><span>Subscribe</span></a></li>
  <li class="bold"><a href="index.html#contact" class="waves-effect waves-dark teal-text"><i class="material-icons">contact_phone</i><span>Contact</span></a></li>
  <li class="bold"><a href="blog.html" class="waves-effect waves-dark teal-text"><i class="material-icons">chat</i><span>Blog</span></a></li>
</ul>
